@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.Cari
@{
    ViewBag.Title = "CariGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Cari Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post, new { @style = "margin-left:20px" }))
{
    <div class="form-group">

        @Html.HiddenFor(x=>x.CariID)


        @Html.LabelFor(x => x.CariAd)
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.CariSoyad)
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.CariSehir)
        @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
        <br />

        @Html.LabelFor(x => x.CariMail)
        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CariDurum)
        @Html.TextBoxFor(x => x.CariDurum, new { @class = "form-control" })
        <br />

        <button class="btn btn-success">Güncelle</button>
    </div>
}

