@model Mvc5OnlineTicariOtomasyon.Models.Siniflar.Cari
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CariPanel.cshtml";
}

<h2>Cari Bilgi Paneli</h2>

@using (Html.BeginForm("Index", "CariPanel", FormMethod.Post))
{
    
    <table class="table table-bordered">
        <tr>
            <td>
                <label>Mail Adresi: @ViewBag.CariMail</label>
            </td>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
            </td>
        </tr>
    </table>
    <button class="btn btn-warning">Bilgilerimi Güncelle</button>
 }
