@using Mvc5OnlineTicariOtomasyon.Models.Siniflar
@model List<Urun>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/aramacubugu.css" rel="stylesheet" />

<br />
@using (Html.BeginForm("Index", "Urun", FormMethod.Get))
            {
                <p>
                    Ürün Adı: @Html.TextBox("p")
                    <input type="submit" value="Ara" />
             </p>
            }

<br />
<table class="table table-bordered" style="margin-left:20px">

    <tr>
        <th>Urun Adı</th>
        <th>Urun Markası</th>
        <th>Urun Stok Sayısı</th>
        <th>Urun Alış Fiyatı </th>
        <th>Urun Satış Fiyatı</th>
        <th>Urun Kategorisi</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Satış Yap</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UrunAd</td>
            <td>@item.Marka</td>
            <td>@item.Stok</td>
            <td>@item.AlisFiyat TL</td>
            <td>@item.SatisFiyat TL</td>
            <td>@item.Kategoris.KategoriAd</td>
            <td><a href="/Urun/UrunSil/@item.UrunID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Urun/UrunGuncelle/@item.UrunID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Urun/SatisYap/@item.UrunID" class="btn btn-dark">Satışı Yap</a></td>
        </tr>
    }


</table>
<a href="/Urun/UrunEkle" class="btn btn-primary" style="margin-left:20px">Yeni Urun Ekle</a>

